<h1>Frequently Asked Questions</h1>

<h2>Why do you write test code?</h2>
<ul>
<li>To ensure that production code does what it's intended to do</li>
<li>To ensure that production code doesn't break when you refactor it.</li>
</ul>